body {
  background: #001220;
  color: white;
  font-family: Arial;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.boards {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

canvas {
  background: #00345a;
  border: 3px solid cyan;
  cursor: pointer;
  box-shadow: 0 0 20px cyan;
}

h2 {
  margin-bottom: 10px;
}

#status {
  margin-top: 25px;
  font-size: 22px;
}
